@{
    ViewData["Title"] = "About DataAcessApp";
    ViewData["Message"] = "DataAcessApp";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>DataAcessApp was started as a side project while Wayne Nolen was in between 
    jobs after moving from Houston, TX back home to Montgomery, AL after a brief
    sting as a .Net developer and HPC developer in the oil and gas industry.</p>

<p>
    DataAcessApp provides access to various public data sets by wrapping thier
    API calls in a lower level, easier understood API and Web app.
</p>