@{
    ViewData["Title"] = "Contact the Developer";
    ViewData["Message"] = "Now accepting donations.";
    ViewData["Message2"] = "Will code for food or money.";
}
<h2>@ViewData["Title"]</h2>
<p>
    @ViewData["Message"]</p>

<address>
    800 Josephine Lane<br />
    Montgomery, AL 36117<br />
    <abbr title="Phone">P:</abbr>
    (205)-703-1698
</address>

<address>
    <strong>Support:</strong> <a href="mailto:nolen.jeffrey@gmail.com">Wayne's Email</a><br />
    <strong>Donations:</strong> <a href="mailto:nolen.jeffrey@gmail.com">Same Email</a>
</address>
